.menu-link{
    display: flex;
    align-items: center;
    color: var(--color-seis);
}
.menu-link span{
    font-size: 13px;
    color: var(--color-uno);
    margin-bottom: 20px;
    margin-right: 10px;
}