.hero-container{
    width: 100%;
    height: 100vh;
   }
   
   
   .categories{
       width: 100%;
       height: 80vh;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
   }
   
   .categories .tile{
       margin-bottom: 15px;
       text-transform: uppercase;
   }
   
   
   .card--show{
       width: 100%;
       height: 65vh;
       display: flex;
       justify-content: center;
   }
   
   .recents{
       width: 100%;
       height: 85vh;
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
   }
   .recents .tile{
       width: 100%;
       max-width: 1230px;
       text-align: left;
       font-weight: 700;
       font-size: 2.4rem;
       display: flex;
       align-items: center;
       justify-content: space-between;
   }
   .recents .tile .link{
       color: var(--color-seis);
       font-size: 16px;
       text-transform: uppercase;
   }